*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: "Arial", "Verdana", sans-serif;
}

body {
  margin: 0px;
  font-family: "Arial", "Verdana", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}
article > h2,
h3 {
  position: relative;
  left: -10px;
}

.one {
  padding: 40px 100px;
  text-align: center;
  background-color: cornflowerblue;
  margin: 10px;
  position: relative;
}
.title {
  padding: 20px;
}
.badge {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 0px;
  background-color: burlywood;
}
.two {
  padding: 30px;
}
.experience-heading,
.experience-subheading {
  display: inline-block;
  margin-right: 10px;
}
a:link {
  color: black;
  background-color: burlywood;
}
a:hover {
  background-color: blueviolet;
}
a:active {
  background-color: hotpink;
}
a + a {
  margin-left: 80px;
}
article + article {
  border-top: solid cornflowerblue;
  border-width: 10px;
}
p.profession::after {
  content: " 💻";
}
::selection {
  background-color: black;
  color: white;
}
#profile {
  background-color: white;
}
